body{
    background-image: url(../images/back.jpg);
    background-repeat: none;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

.page {
    margin: auto;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    width: 800px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.158);
    height: 1500px;
}



header,section {
    margin-left: 30px;
}
header {
    height: 250px;
    margin-top: 30px;
}

.info {
    float: left;
    line-height: 30px;
    font-weight: bold;
}

.photo {
    float: right ;
    margin-right: 30px;
    margin-top: 20px;
}

section {
    margin-bottom: 70px;
    text-align: justify;
}

.left {
    float: left;
    font-weight: bold;
    margin-top: 10px;
}

.right {
    margin-left: 150px;
    
    line-height: 30px;
}

#date {
    margin-top: 15px;
}

strong {
    font-size: 26px;
}

h2 {
    font-size: 28px;
    color: rgb(120, 169, 224);
    text-transform: uppercase;
    border-bottom: 3px solid  rgb(120, 169, 224);
}
h3 {
    margin-top: 3px;
    color: black;
}

.left p {
    margin-top: -2px;
    margin-bottom: 70px;

}

.right p{
    margin-top: -15px;
    height: 40px;
}

.gauche .left {
    font-weight: bold;
    margin-top: 10px;
}
.gauche .right {
    margin-top: 40px;
   
}

#adjust {
    margin-top: 50px;
    padding-bottom: 20px;
    
}
#adjuste {
    margin-top: 50px;
    padding-bottom: 20px;
    
}
#moi {
    color: rgb(120, 169, 224);
}